.container {
  background-color: var(--neutral-900);
  width: 100%;
  min-height: 100vh;
  padding: 4.8rem 11.2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 2.4rem;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 1.6rem;
  }
}
