.weatherInfoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 4.8rem;
  gap: 3.2rem;
  color: var(--neutral-100);
  font-family: var(--ff-dd-sans);
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countryInfo {
  width: 80rem;
  height: 28.6rem;
  background-size: cover;
  border-radius: 20px;
  padding: 8rem 2.4rem;
  background-color: #262540;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countryInfoActive {
  background-image: url("../assets/images/bg-today-large.svg");
  justify-content: space-between;
}

h2 {
  font-size: 2.8rem;
  line-height: 120%;
}

.countryInfo p {
  font-size: 1.8rem;
  font-weight: var(--fw-500);
  opacity: 0.8;
  margin-top: 1.2rem;
  line-height: 120%;
}

.temp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.temp p {
  transition: all 0.3s ease-in-out;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.dots {
  display: flex;
  gap: 12px;
}

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--neutral-100);
  transform: translateY(0);
  animation: bounce 0.9s infinite ease-in-out;
}

@keyframes bounce {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 100%, 50% 50%, 100% 100%;
  }
}

.temp img {
  width: 12rem;
  height: 12rem;
}

.temp p {
  letter-spacing: -0.02em;
  line-height: 100%;
  font-style: italic;
  font-weight: (--fw-600);
  font-size: 9.6rem;
  color: var(--neutral-100);
}

.weatherDetailsContainer {
  display: flex;
  margin-top: 3.2rem;
  gap: 2.4rem;
}

@media (max-width: 1280px) {
  .weatherInfoContainer {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 3.2rem auto 0;
    width: 72rem;
  }

  .countryInfo {
    width: 72rem;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .weatherInfoContainer {
    width: 34.3rem;
  }

  .country {
    text-align: center;
  }

  .countryInfo {
    background-image: url("../assets/images/bg-today-small.svg");
    width: 34.3rem;
    padding-top: 4rem;
  }

  .weatherDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
